---
import Layout from '../layouts/Layout.astro';

import HiringForm from '../components/HiringForm.astro';

---

<Layout title="Jobba hos oss!">
	<div class="h-24 py-12"/>
	
	<main class="  h-full w-full">
		<HiringForm/>	
	</main>
</Layout>

<style>
	
</style>
