---
import Layout from '../layouts/Layout.astro';


---

<Layout title="Våra tjänster: Laddboxar">
	<div class="h-24"/>
	
	<main class="">
	<div class="min-h-[75vh]">

		<article class="mx-auto my-12">
			<h1 class=" font-semibold text-3xl text-center my-8">Markadsledande laddboxar</h1>
			<div class=" grid grid-cols-8 max-w-[48rem] mx-auto px-12">
				<section class=" col-span-5 flex flex-col gap-8 utsm:col-span-full h-full [&_h6]:font-semibold text-lg [&_h6]:text-xl">
					<article>
						<h6>Lorem ipsum dolor sit amet.</h6>
						<section>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, exercitationem.</section>
					</article>
					<article>
						<h6>Lorem ipsum dolor sit amet.</h6>
						<section>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos.</section>
					</article>
					<article>
						<h6>Lorem ipsum dolor sit amet.</h6>
						<section>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti eveniet ab autem.</section>
					</article>
					<article>
						<h6>Lorem ipsum dolor sit amet.</h6>
						<section>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est, nesciunt nemo. Vitae.</section>
					</article>
				</section>
				<section  class=" col-span-3 utsm:col-span-full justify-center text-center h-full  flex flex-col">
					<div class="relative mb-12">
						<img src="/zaptec-go.webp" alt="">
						<img src="/naf_cert_2022.webp" class="absolute h-24  -bottom-12 right-4" alt="" />

					</div>
					<div class=" font-semibold">Made in Norway!🇳🇴</div>
					<div class="w-[80%] mx-auto"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, quod!</div>
				</section>
				<section class=" col-span-full text-center text-xl my-4">
					Laddaren är designad och utvecklad för Nordiska förhållanden
				</section>
			</div>
		</article>
		<article class=" w-2/3 max-w-[48rem] mx-auto [&>*]:text-center my-12 ">
			<h1 class="font-semibold text-2xl"> Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
			<section>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error magnam ipsum adipisci minima ipsam laudantium animi. Molestias
				 animi consectetur aperiam nesciunt! Explicabo ratione culpa quisquam neque omnis repellat blanditiis quis.</section>
			<section>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere facilis beatae quibusdam, ea rem nulla. 
				Nam fuga quidem incidunt soluta!</section>
			<section>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam, laboriosam?</section>
			<div class=" text-center my-4"><a href="/offert" class="  p-2 bg-solidaDarkBlue rounded-md w-36  font-semibold text-white">
				Fri Offert
			  </a></div>
		</article>
	</div>

	</main>
</Layout>

<style>
	
</style>
