---
import Layout from '../layouts/Layout.astro';
import ContactForm from "../components/ContactForm.astro";

---

<Layout title="Få en fri offert!">
	<div class="h-24"/>
	
	<main class=" h-full w-full">
		<ContactForm/>	
	</main>
</Layout>

<style>
	
</style>
