---
import Layout from '../layouts/Layout.astro';


---

<Layout title="Våra tjänster: Solpaneler">
	<div class="h-24"/>
	
	<main class="">
		<div class="flex items-center text-4xl font-semibold justify-center   h-[75vh]">Solpaneler!</div>
	</main>
</Layout>

<style>
	
</style>
