---
import { FaCheck } from "react-icons/fa";
---

<section
  class="w-[90%] utsm:w-full utlg:text-center mx-auto flex gap-4 max-w-[64rem] utlg:flex-col justify-center items-center"
>
  <article class="sm:w-[65%] w-[90%] utxs:text-sm flex flex-col gap-4 relative">
    <div id="varfor-oss" class="-top-36 absolute"></div>
    <h3 class="text-2xl font-semibold">Varför välja oss?</h3>
    <section>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi nihil
      quis cupiditate a veniam quae ipsam numquam excepturi quasi nesciunt
      facere magni unde, quam est vero repellendus! Beatae unde nesciunt minima
      saepe! Explicabo tempore qui consequatur ad quaerat quisquam repellendus
      molestiae optio fuga sunt! Labore sequi itaque repudiandae tempore
      delectus quia esse est facilis, ut non temporibus possimus ducimus hic
      minus dolores maxime, sed explicabo earum eveniet ea reprehenderit
      blanditiis. Ex perferendis, minus exercitationem soluta assumenda quae
      vitae id, voluptate architecto tempore earum ipsam culpa consectetur,
      numquam voluptatibus! Nulla similique, ducimus vero corrupti sapiente
      mollitia iste quisquam non aliquam laudantium explicabo reiciendis alias
      consequatur, molestias ad. Omnis reiciendis totam modi. Doloribus atque
      libero corporis quasi? Aliquam minima ex modi! Autem pariatur itaque earum
      repudiandae qui quia amet quibusdam, ab illo minus reprehenderit ipsam
      molestiae possimus enim commodi delectus ratione, vitae porro alias
      impedit tempore ipsa officiis temporibus at? Eaque rerum ratione maxime
      nulla quos ducimus eveniet tempore sunt ad, molestias, dicta cumque minima
      blanditiis reprehenderit est ex praesentium. Ullam molestiae perferendis
      obcaecati facere reprehenderit corporis placeat non, aspernatur eius
      dolore nobis aperiam mollitia ut tempore nemo maiores reiciendis quam
      nihil dolorum deleniti odio commodi similique quidem voluptas? Iure, vitae
      necessitatibus.
    </section>
  </article>
  <img
    src="./panel-hus.jpg"
    class="flex-1 utlg:rounded-3xl lg:rounded-[2.5rem] utlg:w-[60%] w-[35%] h-[18rem] object-cover"
    style="object-position:85% 50%;"
    alt=""
  />
</section>
<section
  class="grid grid-cols-2 rounded-md max-w-[64rem] w-[60%] mx-auto my-12 gap-2"
>
  <ul
    class="utsm:ml-0 utmd:ml-12 col-span-full grid grid-cols-2 [&_li]:justify-self-center gap-4"
  >
    <li
      class="col-span-1 utmd:col-span-full text-solidaDarkBlue lg:text-2xl flex utmd:justify-start w-full items-center gap-2"
    >
      <FaCheck size="25" />6+ år branschkunskap
    </li>
    <li
      class="col-span-1 utmd:col-span-full text-solidaDarkBlue lg:text-2xl flex utmd:justify-start w-full items-center gap-2"
    >
      <FaCheck size="25" />Utbildad personal
    </li>
    <li
      class="col-span-1 utmd:col-span-full text-solidaDarkBlue lg:text-2xl flex utmd:justify-start w-full items-center gap-2"
    >
      <FaCheck size="25" />Konkurrenskraftiga priser
    </li>
    <li
      class="col-span-1 utmd:col-span-full text-solidaDarkBlue lg:text-2xl flex utmd:justify-start w-full items-center gap-2"
    >
      <FaCheck size="25" />Marknadsledande produkter
    </li>
    <li
      class="col-span-1 utmd:col-span-full text-solidaDarkBlue lg:text-2xl flex utmd:justify-start w-full items-center gap-2"
    >
      <FaCheck size="25" />25 år + effektgaranti
    </li>
    <li
      class="col-span-1 utmd:col-span-full text-solidaDarkBlue lg:text-2xl flex utmd:justify-start w-full items-center gap-2"
    >
      <FaCheck size="25" />25-30 års produktgaranti
    </li>
  </ul>
  <section class="col-span-full flex utmd:flex-col gap-4 mx-auto">
    <div
      class="md:w-[45%] max-w-[36rem] border border-solidaBlue text-center rounded-xl px-4 py-2 text-lg flex items-center justify-center"
    >
      En trygg & säker investering som garanterat betalar av sig själv &
      genererar vinst
    </div>
    <div
      class="md:w-[55%] max-w-[36rem] border border-solidaBlue text-center rounded-xl px-4 py-2 text-lg flex items-center justify-center"
    >
      Att köpa solceller ska inte vara svårt, gör det enkla valet och ta hjälp
      av experterna hos oss
    </div>
  </section>
</section>
