---
import {cardClass} from '../../utils/globals'

---
<section class="flex flex-col items-center my-24 gap-12"> 
    <h3 class="text-2xl font-semibold">Några av våra nöjda kunder</h3>
    <section class="w-[90%]  utsm:w-full  mx-auto flex gap-4 max-w-[64rem] utlg:flex-col lg:justify-center  utlg:items-center ">
    
    <section class={cardClass}>
      <img src="panelhus1.jpg" class="w-full h-48 object-cover" alt="">
      <div class="relative flex-1 w-full  px-4" >
        <span class="absolute top-4 left-4 text-zinc-700">11,9kWp</span>
        <section class="w-full h-full flex flex-col justify-center items-start ">
          <span class=" font-semibold text-lg">USA</span>
          <span class=" w-full font-light">"👍"</span>
        </section>
      </div>
    </section>
    <section class={cardClass}>
      <img src="panelhus2.jpg" class="w-full h-48 object-cover" alt="">
      <div class="relative flex-1 w-full  px-4" >
        <span class="absolute top-4 left-4 text-zinc-700">11,18kWp</span>
        <section class="w-full h-full flex flex-col justify-center items-start ">
          <span class=" font-semibold text-lg">Danmark</span>
          <span class=" w-full font-light">"Nice work g"</span>
        </section>
      </div>
    </section>
    <section class={cardClass}>
      <img src="panelhus3.jpg" class="w-full h-48 object-cover" alt="">
      <div class="relative flex-1 w-full  px-4" >
        <span class="absolute top-4 left-4 text-zinc-700">11,18kWp</span>
        <section class="w-full h-full flex flex-col justify-center items-start ">
          <span class=" font-semibold text-lg">Tyskland</span>
          <span class=" w-full font-light" >"Good work"</span>
        </section>
      </div>
    </section>
    
    </section>
  </section>