<div
  class="my-24 md:w-[70%] max-w-[64rem] shadow-md rounded-xl border-2 border-solidaBlue py-8 px-4 utmd:mx-2 md:px-8 flex flex-col gap-8 mx-auto [&_h3]:font-semibold [&_h3]:text-solidaDarkBlue [&_h3]:text-lg"
>
  <article>
    <h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</h3>
    <section>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio rerum
      consequuntur modi iste repellendus non unde quasi. Deleniti itaque commodi
      incidunt accusamus dolorum exercitationem magni, ipsa expedita accusantium
      ad dignissimos?
    </section>
  </article>
  <!-- <article>
    <h3>Du håller väl med om att det är kul att spara pengar ?</h3>
    <section>
      Med solceller minskar du inte bara dina elkostnader varje månad, du sparar
      dessutom pengar varje månad
    </section>
  </article> -->
  <article>
    <h3>Lorem ipsum dolor sit amet</h3>
    <section>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio rerum
      consequuntur modi iste repellendus non unde quasi. Deleniti itaque commodi
      incidunt
    </section>
  </article>
  <article>
    <h3>Lorem ipsum dolor sit amet consectetur.</h3>
    <section>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio rerum
      consequuntur modi iste repellendus non unde quasi. Deleniti itaque commodi
      incidunt accusamus
    </section>
  </article>

  <article
    class="md:max-w-[48rem] mx-auto flex flex-col items-center gap-2 utmd:p-2 utmd:m-1"
  >
    <h4 class="font-semibold text-xl text-center">
      Få en kostnadsfri offert redan idag och ta reda på hur mycket pengar du
      kan spara!
    </h4>
    <section class="text-center">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, nobis
      vero? Voluptas explicabo incidunt consectetur neque, ea tenetur accusamus
      assumenda natus officiis, magni sed repellendus perspiciatis pariatur
      velit a at!
    </section>
    <a
      href="/offert"
      class="p-2 bg-solidaDarkBlue rounded-md w-48 text-center font-semibold text-white"
    >
      Till Formuläret
    </a>
  </article>
</div>
